# Пользовательские файлы Visual Studio 2015
.vs/

# Скомпилированные объектные файлы
*.slo
*.lo
*.o
*.obj

# Предкомпилированные заголовки
*.gch
*.pch

# Скомпилированные динамические библиотеки
*(с)
*.dylib
*.dll

# Файлы модуля Фортран
*.mod

# Скомпилированные статические библиотеки
*.lai
*.la
*.a
*.lib

# Исполняемые файлы
*.exe
*.аут
*.app
*.ipa

# Эти файлы проекта могут быть сгенерированы движком
*.xcodeproj
*.xcрабочее пространство
*.sln
*.suo
*.opensdf
*.sdf
*. ВК.db
*. VC.opendb

# Предварительно скомпилированные активы
ИсточникАрт/**/*.png
ИсточникАрт/**/*.tga

# Двоичные файлы
Двоичные файлы/*
Плагины/*/Двоичные файлы/*

# Строит
Строить/*

# Белый список PakBlacklist-<BuildConfiguration>.txt files
! Строить/*/
Строить/*/**
! Сборка/*/ПакБлэклист*.txt

# Не игнорируйте файлы значков в сборке
! Сборка/**/*.ico

# Встроенные данные для карт
*_BuiltData.uasset

# Конфигурационные файлы, созданные редактором
Сохранено/*

# Скомпилированные исходные файлы для использования движком
Промежуточный/*
Плагины/*/Промежуточные/*

# Кэширование файлов для редактора
Производные ДанныеКэш/*
